{% extends 'sBase.html.twig' %}
{% block title %}chapters
{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block body %}
  <div class="toast" style="position: absolute;">

    <div class="toast-body">
      Some text inside the toast body
    </div>
  </div>
    <div class="pt-3">
	    {% include "course/request_courses.html.twig" %}
    </div>
{% endblock %}
{% block javascript %}
    <script>
        function removeCourse(id, name){
            var conf = confirm("Are you sure you want to remove '"+name+"' from the list");
            if(conf){
                $.ajax({
                    url: "/stud/"+id+"/remove",
                    success: function(data){
                        console.log("success");
                    },
                    error: function(data){
                        $('.toast').toast('show');
                        no_of_card_left = $(".card");
                        $("div[course-id='"+name+"']").remove();

                        if(no_of_card_left.length == 1){
                            message = $('<div class="card px-5 py-2 mb-2">'+
                                        '<center><h4>no courses selected</h4></center></div>');
                            $(".courses_list").append(message);
                            $(".buttons").remove();
                        }
                    },
                });
            }
        }
    </script>
{% endblock %}
