{% extends "anon-base.html.twig" %}

{% block body %}
    <div class="container" style="height: 450px;">
        <div class="row mb-2">
            {% if courses|length == 0 %}
                <div class="card px-5 py-2 mb-2">
                    <center><h4>no courses selected</h4></center>
                </div>
            {% else %}
                {% for course in courses %}
                    <div class="card px-5 py-2 mb-2">
                        <h4>{{course.name}}</h4>
                        <p>{{course.description}}</p>
                    </div>
                {% endfor %}
                <div class="row mt-2">
                    <div class="col-sm-2 col-md-2">
                        <a class="btn btn-primary btn-block">Apply</a>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <a class="btn btn-danger btn-block" href="#" onclick="conf()">Remove All</a>
                    </div>
                </div>
            {% endif %}
            
        </div>
    </div>
{% endblock %}
{% block nav %}
    <a class="nav-item nav-item-temp btn btn-primary btn-sm" style="color:white" href="{{ path('app_login') }}">
        Sign In
    </a> 
{% endblock %}
{% block javascript %}
    <script>
        function conf()
        {
            selected_courses = [];
            var approval = confirm("Do you want to remove all courses for your selection list");
            if(approval)
            {
                setCookie("selected_courses",selected_courses,0);
                location.reload();
            }
        }

        function setCookie(c_name, value, exdays) {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString());
            document.cookie = c_name + "=" + c_value;
        }
        
    </script>
{% endblock %}