{% extends 'anon-base.html.twig' %}

{% block title %}Verification{% endblock %}
{% block stylesheet %}
    <style>
        .card{
            margin: 0px auto;
        }

        .card-body{
            padding-top: 0px;
        }

        label{
            padding: 21px 0px 2px;
        }
    </style>
{% endblock %}
{% block body %}
   <div class="container" style="min-height:500px;">
        <div class="row">
            <div class="card pb-5 pt-2 px-5 bg-white" style="min-width: 400px; max-width: 700px;">
                <div class="card-body">
                    <center><p class="pt-2">            
                        <h4 style="color: black"> {% trans %}Change Your password{% endtrans %} </h4>
                    </center>
                    <br>
                    <p style="color:red">
                        {% if error != "" %}
                            {{error}}
                        {% endif %}
                    </p>  
                    {{ form_start(form) }}
                    {{ form_widget(form)}}
                    <input type="submit" class='btn btn-primary' style="margin-top: 20px" value="Submit">
                    {{ form_end(form)}}
                </div>
            </div>
        </div>  
   </div>
{% endblock %}
