{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
 <div class="card card-info">
  <div class="card card-header">
  <h3>Welcome to stock managent system</h3>

 </div>
  <div class="card card-body">
  <p>Stock managent system is a system that automates the inventory management in the university.</p>

 </div>
 </div>
 
{% endblock %}
