{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
 <div class="card card-info">
  <div class="card card-header">
  <h3>Welcome to ECA Learning managent system</h3>

 </div>
  <div class="card card-body">
  <p>ECS learning management system is a system that automates the learning and student evaluation in Africa.</p>

 </div>
 </div>
 
{% endblock %}
