{% extends 'base.html.twig' %}

{% block title %}New QuizQuestions{% endblock %}

{% block body %}
    <h1>Create new QuizQuestions</h1>

    {{ include('quiz_questions/_form.html.twig') }}

    {# <a href="{{ path('quiz_questions_index') }}">back to list</a> #}
{% endblock %}

{% block javascripts %}
<script>
    var counter = 1;
    jQuery('a.add-author').click(function(event){
        event.preventDefault();
        counter++;
        if(counter == 9)
        {
            document.getElementById("dynamic").style.background='red';
 
        }
        if(counter > 9)
        {
            document.getElementById("dynamic").style.background='red';

            alert("Maximum number reached");
        }
        else 
        {
        var newRow = jQuery('<tr><td>'+getChars(counter)+'</td><td><div class="form-group"> <input type="text" name="'+getChars(counter)+'" class="form-control" maxlenght= "255" required/></div></td></tr>');
            jQuery('table.authors-list').append(newRow);
        }
        
    });

    function getChars(x)
    {
        var arr = ['','B','C','D','E','F','G','H','I','J'];
        return arr[x];
    }
</script>
{% endblock %}

