{% extends 'base.html.twig' %}

{% block title %}New SystemSetting{% endblock %}

{% block body %}
    <h1>Create new SystemSetting</h1>

    {{ include('system_setting/_form.html.twig') }}

    <a href="{{ path('system_setting_index') }}">back to list</a>
{% endblock %}
