{% extends 'anon-base.html.twig' %}

{% block title %}Terms and Conditions
{% endblock %}
{% block stylesheet %}{% endblock %}
{% block body %}
	<div class="container">
		<h3 class="text-light">Terms and Conditions</h3>
		<div class="card card-info">
			<div class="card-body">
				<h4 style="color:black">Terms</h4>
				{{terms}}
				<hr>
				<h4 style="color:black">Conditions</h4>
				{{conditions}}
			</div>
		</div>
	</div>
{% endblock %}
