{% extends 'anon-base.html.twig' %}

{% block title %}Verification{% endblock %}
{% block stylesheet %}
    <style>
        .card{
            margin: 0px auto;
        }

        .card-body{
            padding-top: 0px;
        }
    </style>
{% endblock %}
{% block body %}
   <div class="container">
        <div class="row">
            <div class="card mt-5" style="max-width: 430px">
                <div class="card-body">
                    <center><img src="{{ asset('/images/eca.png')}}" height="150px" with="150px"/></center>
                    <p>An email with Verification code is sent to {{email}}. 
                        please check your email and enter the verification code.</p>
                    
                    <p style="color:red">
                        {% if error != "" %}
                            {{error}}
                        {% endif %}
                    </p>
                    
                    <form action="{{path('app_register_main')}}" method="POST">
                        <div class="form-group">
                            <label style="font-weight:bold"> Verification Code</label>
                            <input type="number" class="form-control" name="ver_code">
                            <br>
                            <input type="submit" class="btn btn-primary" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>  
   </div>
{% endblock %}
