{{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <div class="row">
    <div class="col-md-2">
        <button class="btn btn-primary btn-block">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
