{% extends 'base.html.twig' %}

{% block title %}New AcademicLevel{% endblock %}
{% block breadcrumbhome %}academiclevel{% endblock %}
{% block breadcrumbcontent %}new{% endblock %}
{% block body %}
<div class="card card-info">
    <div class="card card-header">
        <div class="row">
            <div class="col-md-6">
                <h5>New AcademicLevel</h5>
            </div>
        </div>
    </div>
    <div class="card card-body">
        {{ include('academic_level/_form.html.twig') }}
        <br>

        <div class="col-md-2">
            <a href="{{ path('academic_level_index') }}" class="btn btn-primary btn-block">back to list</a>
        </div>
    </div>
</div>
</div>
{% endblock %}
