{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit Country{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit Country{% endtrans %}</h1>

    {{ include('country/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('country_index') }}">{% trans %}Back to list{% endtrans %}</a>

    {{ include('country/_delete_form.html.twig') }}
{% endblock %}
