{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Country{% endtrans %}{% endblock %}
{% block breadcrumbhome %}
    <a href="{{ path('country_index') }} ">
	   {% trans %}Country{% endtrans %} 
	</a> 
{% endblock %}
{% block breadcrumbcontent %}{% trans %}New{% endtrans %}{% endblock %}
{% block body %}

    {{ include('country/_form.html.twig') }}

    <a href="{{ path('country_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
