{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Country{% endtrans %}{% endblock %}

{% block body %}

    {{ include('country/_form.html.twig') }}

    <a href="{{ path('country_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
