{% extends 'base.html.twig' %}

{% block title %}Edit InstructorCourse{% endblock %}

{% block body %}
    <h1>Edit InstructorCourse</h1>

    {{ include('instructor_course/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('instructor_course_index') }}">back to list</a>

    {{ include('instructor_course/_delete_form.html.twig') }}
{% endblock %}
