{% extends 'base.html.twig' %}

{% block title %}{% trans %}New InstructorCourse{% endtrans %}{% endblock %}
{% block breadcrumbhome %}
    <a href="{{ path('instructor_course_index') }} ">
	   {% trans %}Exam{% endtrans %} 
	</a> 
{% endblock %}
{% block breadcrumbcontent %}{% trans %}New{% endtrans %}{% endblock %}
{% block body %}

    {{ include('instructor_course/_form.html.twig') }}

    <a href="{{ path('instructor_course_index') }}">{% trans %}Back to list{% endtrans %}</a> 
{% endblock %}
