{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit{% endtrans %} Content{% endblock %}
{% block breadcrumbhome %} 
    <a href="{{ path('content_index',{'id': incrsid}) }} ">
	   {% trans %}Content{% endtrans %} 
	</a>
{% endblock %}
{% block breadcrumbcontent %} {% trans %}Edit{% endtrans %}{% endblock %}

{% block body %}
    {{ include('content/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('content_index', {'id': incrsid}) }}">{% trans %}Back to list{% endtrans %}</a>

    {{ include('content/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
<script>
    var type = {
        {
            type = 0,
        }
    };
    if (type == 1) {
        $("#content").show();
        $("#videoLink").show();
        $('#filename').find('label').html('Video');
        $('#resourcedesc').find('label').html('Video description details');
    } else if (type == 2) {
        $("#content").show();
        $("#videoLink").hide();
        $('#resourcedesc').find('label').html('Resource description details');
    } else {}
</script>
<script>
    $("#videoLinkRadio").on("click", function() {
        $("#content_videoLink").prop('disabled', false);
        $("#content_filename").prop('disabled', true);
    });
    $("#videoFileRadio").on("click", function() {
        $("#content_videoLink").prop('disabled', true);
        $("#content_filename").prop('disabled', false);
    });
</script>
{% endblock %}