{% extends 'base.html.twig' %}

{% block title %}New Content{% endblock %}
{% block breadcrumbhome %} 
    <a href="{{ path('content_index',{'id': incrsid}) }} ">
	   {% trans %}Content{% endtrans %} 
	</a> 
{% endblock %}
{% block breadcrumbcontent %} new {% endblock %}
{% block body %}
    {{ include('content/_form.html.twig') }}

    <a href="{{ path('content_index', {'id': 1}) }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
{% block javascripts %}
<script>
   /* var type = {
        {
            type = 0,
        }
    };
    if (type == 1) {
        $("#content").show();
        $("#videoLink").show();
        $('#filename').find('label').html('Video');
        $('#resourcedesc').find('label').html('Video description details');
    } else if (type == 2) {
        $("#content").show();
        $("#videoLink").hide();
        $('#resourcedesc').find('label').html('Resource description details');
    } else {}*/
</script>
<script>
   $("#videoLinkRadio").on("click", function() {
        $("#content_videoLink").prop('disabled', false);
        $("#content_filename").prop('disabled', true);
        $("content_filename").prop('required',false);
        //$("#content_content").prop('disabled', true);
        //$("#content").prop('disabled', true);
        //$("#cke_content_content").css('display', 'none');
    });
    $("#videoFileRadio").on("click", function() {
        $("#content_videoLink").prop('disabled', true);
        $("#content_filename").prop('disabled', false);
        $("content_filename").prop('required',true);
        //$("#content_content").prop('disabled', true);
       // $("#content").prop('disabled', true);
        //$("#cke_content_content").css('display', 'none');
    });
    /*$("#ContentRadio").on("click", function() {
        $("#content_videoLink").prop('disabled', true);
        $("#content_filename").prop('disabled', true);
        $("#content_content").removeAttr("disabled");
        //$("#content").prop('disabled', false);
        $("#cke_content_content").css('display', 'block');
        
    });*/
</script>
{% endblock %}