.main {
    background-color: #d3d3d3;
}

card-title {
    color: #0078d4e6;
}

.page-title {
    color: #0088cc;
    padding: 26px 0px 15px;
}

.chapter-list {
    margin-top: 15px;
}

.card-title-custom {
    color: #0078d4e6;
}