{% extends 'base.html.twig' %}

{% block title %}InstructorCourseChapter index{% endblock %}
{% block breadcrumbhome %} <a href="{{ path('instructor_course_chapter_index') }} "> My Courses </a> {% endblock %}
{% block breadcrumbcontent %}chapters{% endblock %}
{% block backbtn %}<a href="{{ path('instructor_course_chapter_index') }} " class="btn btn-info">Back to cource</a>{% endblock %}


{% block body %}
 <hr>
<div class="card card-info">
    <div class="card card-header">
        <div class="row">
            <div class="col-md-6 ">
                <h3>course chapters list</h3>
            </div>
            
             <div class="col-md-6">
               <a href="{{ path('instructor_course_chapter_new', {'id': instructor_course.id  }) }}" class="btn btn-primary" style="float:right"> <span class="fa fa-plus"></span>Add Quiz</a>
            </div> 
        </div>
    </div>
   
    <div class="card card-body">



        <div id="accordion">
                  <div class="card card-primary">
                    <div class="card-header">
                      <h4 class="card-title w-100"> 
                        <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false"> <!-- d-block class make the whole row clickable. add on a if you want -->
                          Collapsible Group Item #1
                        </a>

                                      <a class="btn btn-sm   float-right btn-warning"
                            href="#">	<span class="fa fa-edit"> </span>Edit</a>

                      </h4>
         
                    </div>
                    <div id="collapseOne" class="collapse" data-parent="#accordion" style="">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                        nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                        beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card card-danger">
                    <div class="card-header">
                      <h4 class="card-title w-100">
                        <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">
                          Collapsible Group Danger
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                        nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                        beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card card-success">
                    <div class="card-header">
                      <h4 class="card-title w-100">
                        <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false">
                          Collapsible Group Success
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion" style="">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                        nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                        beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>







    </div>
</div>

{% endblock %}