{% extends 'base.html.twig' %}

{% block title %}New InstructorCourseStatus{% endblock %}

{% block body %}
    <h1>{% trans %}create new{% endtrans %} InstructorCourseStatus</h1>

    {{ include('instructor_course_status/_form.html.twig') }}

    <a href="{{ path('instructor_course_status_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
