
{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Course{% endtrans %}{% endblock %}

{% block breadcrumbhome %}
    <a href="{{path('instructor_course_chapter_index',{'id':id})}}">
	   {% trans %}Course{% endtrans %} 
	</a> /
     <a href="#">
	   {% trans %}Chapter{% endtrans %} 
	</a> 
{% endblock %}
{% block breadcrumbcontent %} {% trans %}New{% endtrans %}{% endblock %}
{% block body %}

    {{ include('instructor_course_chapter/_form.html.twig') }}

    <a href="{{ path('instructor_course_chapter_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
