
{% extends 'base.html.twig' %}

{% block title %}New InstructorCourseChapter{% endblock %}

{% block breadcrumbhome %}
    <a href="{{path('instructor_course_chapter_index',{'id':id})}}">
	   {% trans %}Course{% endtrans %} 
	</a> /
     <a href="#">
	   {% trans %}Chapter{% endtrans %} 
	</a> 
{% endblock %}
{% block breadcrumbcontent %}New{% endblock %}
{% block body %}

    {{ include('instructor_course_chapter/_form.html.twig') }}

    <a href="{{ path('instructor_course_chapter_index') }}">back to list</a>
{% endblock %}
