{% extends 'base.html.twig' %}

{% block title %}New QuizChoices{% endblock %}

{% block body %}
    <h1>{% trans %}create new{% endtrans %} Choices</h1>

    {{ include('quiz_choices/_form.html.twig') }}

    <a href="{{ path('quiz_choices_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
