{% extends 'sBase.html.twig' %}
{% block title %}Requested courses
{% endblock %}
{% block stylesheet %}
	<link href="{{asset('assets/plugins/owlCarousel/dist/assets/owl.theme.default.min.css')}}" rel="stylesheet"/>

    <style>
        h4{
            color: #454672;
        }
    </style>
{% endblock %}
{% block body %}
    <br>
    <div class="selected_courses pt-3">
	    {% include "course/request_courses.html.twig" %}
    </div>
{% endblock %}
{% block javascript %}
    <script>
        responsive(".selected_courses");
        if(!isMobile())
        {
            $(".card").addClass("px-5");
        }
        var span = document.getElementsByClassName("close")[0];

        function conf()
        {
            var modal = document.getElementById("myModal");
            modal.style.display = "block";
        }

        function removeSelection()
        {
            selected_courses_login = [];

            setCookie("selected_courses_login",selected_courses_login,0);
            location.reload();
        }

        function removeCourse(name, name2){
            var json_str = getCookie('selected_courses_login');
            var arr = JSON.parse(json_str);

            newa = arr.filter(e => e !== name+"");

            var json_str = JSON.stringify(newa);
            setCookie('selected_courses_login', json_str,1);
            no_of_card_left = $(".card");
            $("div[course-id='"+name+"']").remove();

            if(no_of_card_left.length == 1){
                message = $('<div class="card px-5 py-2 mb-2">'+
                            '<center><h4>no courses selected</h4></center></div>');
                $(".courses_list").append(message);
                $(".buttons").remove();
            }
        }

        function setCookie(c_name, value, exdays) {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString())+"; path=/";
            document.cookie = c_name + "=" + c_value;
        }

        function getCookie(c_name) {
            var i, x, y, ARRcookies = document.cookie.split(";");
            for (i = 0; i < ARRcookies.length; i++) {
                x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
                y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
                x = x.replace(/^\s+|\s+$/g, "");
                if (x == c_name) {
                    return unescape(y);
                }
            }
        }
        /*function removeCourse(id, name){
            var conf = confirm("Are you sure you want to remove '"+name+"' from the list");
            if(conf){
                $.ajax({
                    url: "/student/"+id+"/remove",
                    success: function(data){
                        console.log("success");
                    },
                    error: function(data){
                        $('.toast').toast('show');
                        no_of_card_left = $(".card");
                        $("div[course-id='"+name+"']").remove();

                        if(no_of_card_left.length == 1){
                            message = $('<div class="card px-5 py-2 mb-2">'+
                                        '<center><h4>no courses selected</h4></center></div>');
                            $(".courses_list").append(message);
                            $(".buttons").remove();
                        }
                    },
                });
            }
        }*/

    </script>
{% endblock %}
