 {% extends 'base.html.twig' %}

{% block title %}New Quiz{% endblock %}

{% block body %}
    {# <h1>Create new Quiz</h1>

    {{ include('quiz/_form.html.twig') }} #}


 







   <div class="card card-info">
        <div class="card card-header">
         <h3>Enter Quiz Details</h3>
        </div>
        <div class="card card-body">
        {{ include('quiz/_form.html.twig') }}
         
        </div>
        </div>

        {% endblock %} 
