{{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <table class="row">
    <td class="">
    <button class="btn btn-primary" style="min-width:150px;">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
