{% extends 'base.html.twig' %}

{% block title %}New ContentType{% endblock %}
{% block breadcrumbhome %}
    <a href="{{ path('content_type_index') }} ">
	   {% trans %}Content Type{% endtrans %} 
	</a> 
{% endblock %}
{% block breadcrumbcontent %}{% trans %}New{% endtrans %}{% endblock %}
{% block body %}
    <h1>{% trans %}create new{% endtrans %} ContentType</h1>

    {{ include('content_type/_form.html.twig') }}

    <a href="{{ path('content_type_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
