{% extends 'base.html.twig' %}

{% block title %}New Termsandconditions{% endblock %}

{% block body %}
    <h1>Create new Termsandconditions</h1>

    {{ include('termsandconditions/_form.html.twig') }}

    <a href="{{ path('termsandconditions_index') }}">back to list</a>
{% endblock %}
