<div class="card card-info">
<div class="card card-header">
<h3>Update Course Category</h3>
</div>
<div class="card card-body">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <table class="mt-2">
    <td>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </td>
{{ form_end(form) }}
</div>
</div>



