{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit CourseCategory{% endtrans %}{% endblock %}

{% block breadcrumbhome %}
    <a href="{{ path('course_category_index') }} ">
	   {% trans %}Course Category{% endtrans %} 
	</a> 
{% endblock %}
{% block breadcrumbcontent %}{% trans %}Edit{% endtrans %}{% endblock %}
{% block body %}
 

    {{ include('course_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('course_category_index') }}">{% trans %}Back to list{% endtrans %}</a>

    {{ include('course_category/_delete_form.html.twig') }}
{% endblock %}
