  <footer class="main-footer">
    <strong>{% trans %}Copyright{% endtrans %} &copy; 2021 <a href="https://adminlte.io">ECA</a>.</strong>
    {% trans %}All Rights Reserved{% endtrans %}.
    <div class="float-right d-none d-sm-inline-block">
      <b>{% trans %}Version{% endtrans %}</b> 1.1.0
    </div>
  </footer>