<!DOCTYPE html>
<html>

	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>
			{% block title %}404! page not found{% endblock %}
		</title>
		<meta	name="keywords" content="HTML5 Template"/>

		<!-- Favicon -->
		<link rel="shortcut icon" href="{{asset('images/fas.jpg')}}" type="image/x-icon"/>

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{{asset('assets/plugins/bootstrap/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('assets/plugins/fontawesome-free/css/all.min.css')}}">
      <style>
         h2{
            font-size: 100px;
         }
         body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
         }
      </style>
	</head>

	<body>
			<div class="container" style="margin-top: -72px">
				<section class="http-error">
					<div class="row justify-content-center py-3">
                  <div class="col"></div>
						<div class="col-md-7 text-center">
							<div class="http-error-main">
								<h2>404!</h2>
								<p>We're sorry, but the page you were looking for doesn't exist.</p>
							</div>
						</div>
						<div class="col-md-4 mt-4 mt-md-0">
							<h4 class="text-primary">Here are some useful links</h4>
                     <hr>
							<ul class="nav nav-list flex-column">
                        <li class="nav-item">
									<a class="nav-link" href="/">Home</a>
								</li>
                        {% if app.request.headers.get('referer') %}
                           <li class="nav-item">
                              <a class="nav-link" href="{{ path(app.request.headers.get('referer'))}}">Go Back</a>
                           </li>   
                        {% endif %}
								<li class="nav-item">
									<a class="nav-link" href="/login">Login</a>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
	</body>

</html>
