
<html lang="en">

<body>
<div class="body">
    <div class="container">

        <div class="content">
            <h1 class="text-center">Nice to meet you {{ email.toName }}!</h1>

        </div>

    </div>
</div>
</body>
</html>
